<template name="popup">
  <div class="modal fade" id="popup" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{popup.title}}</h4>
        </div>
        <div class="modal-body">
          <p class="modal-message">{{popup.message}}</p>
          <div class="progress">
             <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:0%">
             </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">{{popup.no}}</button>
          <button type="button" id="{{popup.type}}" class="btn btn-danger btn-sm">{{popup.yes}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="userInfo">
  <div class="modal fade" id="info" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{user.name}}</h4>
        </div>
        <div class="modal-body" style="padding-bottom: 5px;">
            {{> alertUser}}
            <div class="row">
                <div class="col-xs-8 col-sm-7">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Username</h3>
                    </div>
                    <div class="panel-body">
                      {{user.username}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-5">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Profile</h3>
                    </div>
                    <div class="panel-body">
                      {{user.profile}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-8 col-sm-7">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Branch</h3>
                    </div>
                    <div class="panel-body">
                      {{user.branch}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 col-sm-5">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Last Access</h3>
                    </div>
                    <div class="panel-body">
                      {{user.lastAccess}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Change Password<span class="required">*</span></h3>
                    </div>
                    <div class="panel-body">
                      <input type="password" class="form-control input-sm" id="pass01" required/>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-md-6">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h3 class="panel-title">Repeat Password<span class="required">*</span></h3>
                    </div>
                    <div class="panel-body">
                      <input type="password" class="form-control input-sm" id="pass02" required/>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
          <button type="button" id="changePass" class="btn btn-danger btn-sm">Yes, change Password</button>
        </div>
      </div>
    </div>
  </div>
</template>
